<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gcloud.goods.mapper.GoodsSpuMapper" >

  <resultMap id="BaseResultMap" type="com.gcloud.goods.domain.GoodsSpu" >
    <id column="num_iid" property="numIid" jdbcType="BIGINT" />
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="taobao_id" property="taobaoId" jdbcType="BIGINT" />
    <result column="on_sale" property="onSale" jdbcType="BIT" />
    <result column="short_title" property="shortTitle" jdbcType="VARCHAR" />
    <result column="market" property="market" jdbcType="VARCHAR" />
    <result column="factory" property="factory" jdbcType="VARCHAR" />
    <result column="goods_allocation" property="goodsAllocation" jdbcType="VARCHAR" />
    <result column="actual_stock" property="actualStock" jdbcType="BIGINT" />
    <result column="available_in_stock" property="availableInStock" jdbcType="BIGINT" />
    <result column="lock_stock" property="lockStock" jdbcType="BIGINT" />
    <result column="defective_stock" property="defectiveStock" jdbcType="BIGINT" />
    <result column="alarm_stock" property="alarmStock" jdbcType="BIGINT" />
    <result column="cost_price" property="costPrice" jdbcType="DOUBLE" />
    <result column="weight" property="weight" jdbcType="DOUBLE" />
    <result column="barcode" property="barcode" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="enable_status" property="enableStatus" jdbcType="BIT" />
    <result column="pic_path" property="picPath" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="outer_id" property="outerId" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="BIGINT" />
    <result column="alarm" property="alarm" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="cat_id" property="catId" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="seller_cids" property="sellerCids" jdbcType="VARCHAR" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
    <result column="props_name" property="propsName" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="purchase_price" property="purchasePrice" jdbcType="DOUBLE" />
    <result column="selling_price" property="sellingPrice" jdbcType="DOUBLE" />
    <result column="x" property="x" jdbcType="DOUBLE" />
    <result column="y" property="y" jdbcType="DOUBLE" />
    <result column="z" property="z" jdbcType="DOUBLE" />
    <result column="period_cast" property="periodCast" jdbcType="INTEGER" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sys_item_id" property="sysItemId" jdbcType="BIGINT" />
    <result column="defined_1" property="defined1" jdbcType="VARCHAR" />
    <result column="defined_2" property="defined2" jdbcType="VARCHAR" />
    <result column="defined_3" property="defined3" jdbcType="VARCHAR" />
    <result column="merge_type" property="mergeType" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    num_iid, id, taobao_id, on_sale, short_title, market, factory, goods_allocation, 
    actual_stock, available_in_stock, lock_stock, defective_stock, alarm_stock, cost_price, 
    weight, barcode, created, modified, enable_status, pic_path, title, outer_id, num, 
    alarm, remark, `type`, cat_id, brand, seller_cids, platform, props_name, unit, purchase_price, 
    selling_price, x, y, z, period_cast, place, age, sys_item_id, defined_1, defined_2, 
    defined_3, merge_type, `status`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_goods_spu
    where num_iid = #{numIid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_goods_spu
    where num_iid = #{numIid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gcloud.goods.domain.GoodsSpu" >
    insert into tb_goods_spu (num_iid, id, taobao_id, 
      on_sale, short_title, market, 
      factory, goods_allocation, actual_stock, 
      available_in_stock, lock_stock, defective_stock, 
      alarm_stock, cost_price, weight, 
      barcode, created, modified, 
      enable_status, pic_path, title, 
      outer_id, num, alarm, 
      remark, `type`, cat_id, 
      brand, seller_cids, platform, 
      props_name, unit, purchase_price, 
      selling_price, x, y, z, 
      period_cast, place, age, 
      sys_item_id, defined_1, defined_2, 
      defined_3, merge_type, `status`
      )
    values (#{numIid,jdbcType=BIGINT}, #{id,jdbcType=BIGINT}, #{taobaoId,jdbcType=BIGINT}, 
      #{onSale,jdbcType=BIT}, #{shortTitle,jdbcType=VARCHAR}, #{market,jdbcType=VARCHAR}, 
      #{factory,jdbcType=VARCHAR}, #{goodsAllocation,jdbcType=VARCHAR}, #{actualStock,jdbcType=BIGINT}, 
      #{availableInStock,jdbcType=BIGINT}, #{lockStock,jdbcType=BIGINT}, #{defectiveStock,jdbcType=BIGINT}, 
      #{alarmStock,jdbcType=BIGINT}, #{costPrice,jdbcType=DOUBLE}, #{weight,jdbcType=DOUBLE}, 
      #{barcode,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{modified,jdbcType=TIMESTAMP}, 
      #{enableStatus,jdbcType=BIT}, #{picPath,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{outerId,jdbcType=VARCHAR}, #{num,jdbcType=BIGINT}, #{alarm,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{catId,jdbcType=VARCHAR}, 
      #{brand,jdbcType=VARCHAR}, #{sellerCids,jdbcType=VARCHAR}, #{platform,jdbcType=VARCHAR}, 
      #{propsName,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{purchasePrice,jdbcType=DOUBLE}, 
      #{sellingPrice,jdbcType=DOUBLE}, #{x,jdbcType=DOUBLE}, #{y,jdbcType=DOUBLE}, #{z,jdbcType=DOUBLE}, 
      #{periodCast,jdbcType=INTEGER}, #{place,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{sysItemId,jdbcType=BIGINT}, #{defined1,jdbcType=VARCHAR}, #{defined2,jdbcType=VARCHAR}, 
      #{defined3,jdbcType=VARCHAR}, #{mergeType,jdbcType=BIT}, #{status,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gcloud.goods.domain.GoodsSpu" >
    insert into tb_goods_spu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="numIid != null" >
        num_iid,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="taobaoId != null" >
        taobao_id,
      </if>
      <if test="onSale != null" >
        on_sale,
      </if>
      <if test="shortTitle != null" >
        short_title,
      </if>
      <if test="market != null" >
        market,
      </if>
      <if test="factory != null" >
        factory,
      </if>
      <if test="goodsAllocation != null" >
        goods_allocation,
      </if>
      <if test="actualStock != null" >
        actual_stock,
      </if>
      <if test="availableInStock != null" >
        available_in_stock,
      </if>
      <if test="lockStock != null" >
        lock_stock,
      </if>
      <if test="defectiveStock != null" >
        defective_stock,
      </if>
      <if test="alarmStock != null" >
        alarm_stock,
      </if>
      <if test="costPrice != null" >
        cost_price,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="barcode != null" >
        barcode,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="modified != null" >
        modified,
      </if>
      <if test="enableStatus != null" >
        enable_status,
      </if>
      <if test="picPath != null" >
        pic_path,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="outerId != null" >
        outer_id,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="alarm != null" >
        alarm,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="catId != null" >
        cat_id,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="sellerCids != null" >
        seller_cids,
      </if>
      <if test="platform != null" >
        platform,
      </if>
      <if test="propsName != null" >
        props_name,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="purchasePrice != null" >
        purchase_price,
      </if>
      <if test="sellingPrice != null" >
        selling_price,
      </if>
      <if test="x != null" >
        x,
      </if>
      <if test="y != null" >
        y,
      </if>
      <if test="z != null" >
        z,
      </if>
      <if test="periodCast != null" >
        period_cast,
      </if>
      <if test="place != null" >
        place,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="sysItemId != null" >
        sys_item_id,
      </if>
      <if test="defined1 != null" >
        defined_1,
      </if>
      <if test="defined2 != null" >
        defined_2,
      </if>
      <if test="defined3 != null" >
        defined_3,
      </if>
      <if test="mergeType != null" >
        merge_type,
      </if>
      <if test="status != null" >
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="numIid != null" >
        #{numIid,jdbcType=BIGINT},
      </if>
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="taobaoId != null" >
        #{taobaoId,jdbcType=BIGINT},
      </if>
      <if test="onSale != null" >
        #{onSale,jdbcType=BIT},
      </if>
      <if test="shortTitle != null" >
        #{shortTitle,jdbcType=VARCHAR},
      </if>
      <if test="market != null" >
        #{market,jdbcType=VARCHAR},
      </if>
      <if test="factory != null" >
        #{factory,jdbcType=VARCHAR},
      </if>
      <if test="goodsAllocation != null" >
        #{goodsAllocation,jdbcType=VARCHAR},
      </if>
      <if test="actualStock != null" >
        #{actualStock,jdbcType=BIGINT},
      </if>
      <if test="availableInStock != null" >
        #{availableInStock,jdbcType=BIGINT},
      </if>
      <if test="lockStock != null" >
        #{lockStock,jdbcType=BIGINT},
      </if>
      <if test="defectiveStock != null" >
        #{defectiveStock,jdbcType=BIGINT},
      </if>
      <if test="alarmStock != null" >
        #{alarmStock,jdbcType=BIGINT},
      </if>
      <if test="costPrice != null" >
        #{costPrice,jdbcType=DOUBLE},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="barcode != null" >
        #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="enableStatus != null" >
        #{enableStatus,jdbcType=BIT},
      </if>
      <if test="picPath != null" >
        #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="outerId != null" >
        #{outerId,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=BIGINT},
      </if>
      <if test="alarm != null" >
        #{alarm,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="catId != null" >
        #{catId,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="sellerCids != null" >
        #{sellerCids,jdbcType=VARCHAR},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="propsName != null" >
        #{propsName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="purchasePrice != null" >
        #{purchasePrice,jdbcType=DOUBLE},
      </if>
      <if test="sellingPrice != null" >
        #{sellingPrice,jdbcType=DOUBLE},
      </if>
      <if test="x != null" >
        #{x,jdbcType=DOUBLE},
      </if>
      <if test="y != null" >
        #{y,jdbcType=DOUBLE},
      </if>
      <if test="z != null" >
        #{z,jdbcType=DOUBLE},
      </if>
      <if test="periodCast != null" >
        #{periodCast,jdbcType=INTEGER},
      </if>
      <if test="place != null" >
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="sysItemId != null" >
        #{sysItemId,jdbcType=BIGINT},
      </if>
      <if test="defined1 != null" >
        #{defined1,jdbcType=VARCHAR},
      </if>
      <if test="defined2 != null" >
        #{defined2,jdbcType=VARCHAR},
      </if>
      <if test="defined3 != null" >
        #{defined3,jdbcType=VARCHAR},
      </if>
      <if test="mergeType != null" >
        #{mergeType,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gcloud.goods.domain.GoodsSpu" >
    update tb_goods_spu
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="taobaoId != null" >
        taobao_id = #{taobaoId,jdbcType=BIGINT},
      </if>
      <if test="onSale != null" >
        on_sale = #{onSale,jdbcType=BIT},
      </if>
      <if test="shortTitle != null" >
        short_title = #{shortTitle,jdbcType=VARCHAR},
      </if>
      <if test="market != null" >
        market = #{market,jdbcType=VARCHAR},
      </if>
      <if test="factory != null" >
        factory = #{factory,jdbcType=VARCHAR},
      </if>
      <if test="goodsAllocation != null" >
        goods_allocation = #{goodsAllocation,jdbcType=VARCHAR},
      </if>
      <if test="actualStock != null" >
        actual_stock = #{actualStock,jdbcType=BIGINT},
      </if>
      <if test="availableInStock != null" >
        available_in_stock = #{availableInStock,jdbcType=BIGINT},
      </if>
      <if test="lockStock != null" >
        lock_stock = #{lockStock,jdbcType=BIGINT},
      </if>
      <if test="defectiveStock != null" >
        defective_stock = #{defectiveStock,jdbcType=BIGINT},
      </if>
      <if test="alarmStock != null" >
        alarm_stock = #{alarmStock,jdbcType=BIGINT},
      </if>
      <if test="costPrice != null" >
        cost_price = #{costPrice,jdbcType=DOUBLE},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="barcode != null" >
        barcode = #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="enableStatus != null" >
        enable_status = #{enableStatus,jdbcType=BIT},
      </if>
      <if test="picPath != null" >
        pic_path = #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="outerId != null" >
        outer_id = #{outerId,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=BIGINT},
      </if>
      <if test="alarm != null" >
        alarm = #{alarm,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="catId != null" >
        cat_id = #{catId,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="sellerCids != null" >
        seller_cids = #{sellerCids,jdbcType=VARCHAR},
      </if>
      <if test="platform != null" >
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="propsName != null" >
        props_name = #{propsName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="purchasePrice != null" >
        purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      </if>
      <if test="sellingPrice != null" >
        selling_price = #{sellingPrice,jdbcType=DOUBLE},
      </if>
      <if test="x != null" >
        x = #{x,jdbcType=DOUBLE},
      </if>
      <if test="y != null" >
        y = #{y,jdbcType=DOUBLE},
      </if>
      <if test="z != null" >
        z = #{z,jdbcType=DOUBLE},
      </if>
      <if test="periodCast != null" >
        period_cast = #{periodCast,jdbcType=INTEGER},
      </if>
      <if test="place != null" >
        place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="sysItemId != null" >
        sys_item_id = #{sysItemId,jdbcType=BIGINT},
      </if>
      <if test="defined1 != null" >
        defined_1 = #{defined1,jdbcType=VARCHAR},
      </if>
      <if test="defined2 != null" >
        defined_2 = #{defined2,jdbcType=VARCHAR},
      </if>
      <if test="defined3 != null" >
        defined_3 = #{defined3,jdbcType=VARCHAR},
      </if>
      <if test="mergeType != null" >
        merge_type = #{mergeType,jdbcType=BIT},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=BIT},
      </if>
    </set>
    where num_iid = #{numIid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gcloud.goods.domain.GoodsSpu" >
    update tb_goods_spu
    set id = #{id,jdbcType=BIGINT},
      taobao_id = #{taobaoId,jdbcType=BIGINT},
      on_sale = #{onSale,jdbcType=BIT},
      short_title = #{shortTitle,jdbcType=VARCHAR},
      market = #{market,jdbcType=VARCHAR},
      factory = #{factory,jdbcType=VARCHAR},
      goods_allocation = #{goodsAllocation,jdbcType=VARCHAR},
      actual_stock = #{actualStock,jdbcType=BIGINT},
      available_in_stock = #{availableInStock,jdbcType=BIGINT},
      lock_stock = #{lockStock,jdbcType=BIGINT},
      defective_stock = #{defectiveStock,jdbcType=BIGINT},
      alarm_stock = #{alarmStock,jdbcType=BIGINT},
      cost_price = #{costPrice,jdbcType=DOUBLE},
      weight = #{weight,jdbcType=DOUBLE},
      barcode = #{barcode,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      modified = #{modified,jdbcType=TIMESTAMP},
      enable_status = #{enableStatus,jdbcType=BIT},
      pic_path = #{picPath,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      outer_id = #{outerId,jdbcType=VARCHAR},
      num = #{num,jdbcType=BIGINT},
      alarm = #{alarm,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      cat_id = #{catId,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      seller_cids = #{sellerCids,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=VARCHAR},
      props_name = #{propsName,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      selling_price = #{sellingPrice,jdbcType=DOUBLE},
      x = #{x,jdbcType=DOUBLE},
      y = #{y,jdbcType=DOUBLE},
      z = #{z,jdbcType=DOUBLE},
      period_cast = #{periodCast,jdbcType=INTEGER},
      place = #{place,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      sys_item_id = #{sysItemId,jdbcType=BIGINT},
      defined_1 = #{defined1,jdbcType=VARCHAR},
      defined_2 = #{defined2,jdbcType=VARCHAR},
      defined_3 = #{defined3,jdbcType=VARCHAR},
      merge_type = #{mergeType,jdbcType=BIT},
      `status` = #{status,jdbcType=BIT}
    where num_iid = #{numIid,jdbcType=BIGINT}
  </update>
</mapper>