<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gcloud.goods.mapper.GoodsCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.gcloud.goods.domain.GoodsCategory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cat_id" property="catId" jdbcType="BIGINT" />
    <result column="cat_name" property="catName" jdbcType="VARCHAR" />
    <result column="parent_cid" property="parentCid" jdbcType="BIGINT" />
    <result column="is_parent" property="isParent" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="enable_status" property="enableStatus" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cat_id, cat_name, parent_cid, is_parent, `status`, platform, remark, created, 
    modified, enable_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_goods_category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_goods_category
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gcloud.goods.domain.GoodsCategory" >
    insert into tb_goods_category (id, cat_id, cat_name, 
      parent_cid, is_parent, `status`, 
      platform, remark, created, 
      modified, enable_status)
    values (#{id,jdbcType=BIGINT}, #{catId,jdbcType=BIGINT}, #{catName,jdbcType=VARCHAR}, 
      #{parentCid,jdbcType=BIGINT}, #{isParent,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{platform,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{modified,jdbcType=TIMESTAMP}, #{enableStatus,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.gcloud.goods.domain.GoodsCategory" >
    insert into tb_goods_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="catId != null" >
        cat_id,
      </if>
      <if test="catName != null" >
        cat_name,
      </if>
      <if test="parentCid != null" >
        parent_cid,
      </if>
      <if test="isParent != null" >
        is_parent,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="platform != null" >
        platform,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="modified != null" >
        modified,
      </if>
      <if test="enableStatus != null" >
        enable_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="catId != null" >
        #{catId,jdbcType=BIGINT},
      </if>
      <if test="catName != null" >
        #{catName,jdbcType=VARCHAR},
      </if>
      <if test="parentCid != null" >
        #{parentCid,jdbcType=BIGINT},
      </if>
      <if test="isParent != null" >
        #{isParent,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="enableStatus != null" >
        #{enableStatus,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gcloud.goods.domain.GoodsCategory" >
    update tb_goods_category
    <set >
      <if test="catId != null" >
        cat_id = #{catId,jdbcType=BIGINT},
      </if>
      <if test="catName != null" >
        cat_name = #{catName,jdbcType=VARCHAR},
      </if>
      <if test="parentCid != null" >
        parent_cid = #{parentCid,jdbcType=BIGINT},
      </if>
      <if test="isParent != null" >
        is_parent = #{isParent,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="platform != null" >
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="enableStatus != null" >
        enable_status = #{enableStatus,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gcloud.goods.domain.GoodsCategory" >
    update tb_goods_category
    set cat_id = #{catId,jdbcType=BIGINT},
      cat_name = #{catName,jdbcType=VARCHAR},
      parent_cid = #{parentCid,jdbcType=BIGINT},
      is_parent = #{isParent,jdbcType=TINYINT},
      `status` = #{status,jdbcType=TINYINT},
      platform = #{platform,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      modified = #{modified,jdbcType=TIMESTAMP},
      enable_status = #{enableStatus,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>