<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gcloud.goods.mapper.TradeMapper" >
  <resultMap id="BaseResultMap" type="com.gcloud.goods.domain.Trade" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sid" property="sid" jdbcType="BIGINT" />
    <result column="taobao_id" property="taobaoId" jdbcType="BIGINT" />
    <result column="tid" property="tid" jdbcType="BIGINT" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="num_iid" property="numIid" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="seller_cod_fee" property="sellerCodFee" jdbcType="VARCHAR" />
    <result column="discount_fee" property="discountFee" jdbcType="VARCHAR" />
    <result column="point_fee" property="pointFee" jdbcType="INTEGER" />
    <result column="has_post_fee" property="hasPostFee" jdbcType="BIT" />
    <result column="total_fee" property="totalFee" jdbcType="VARCHAR" />
    <result column="is_lgtype" property="isLgtype" jdbcType="BIT" />
    <result column="is_brand_sale" property="isBrandSale" jdbcType="BIT" />
    <result column="is_force_wlb" property="isForceWlb" jdbcType="BIT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="buyer_message" property="buyerMessage" jdbcType="VARCHAR" />
    <result column="alipay_id" property="alipayId" jdbcType="BIGINT" />
    <result column="alipay_no" property="alipayNo" jdbcType="VARCHAR" />
    <result column="buyer_nick" property="buyerNick" jdbcType="VARCHAR" />
    <result column="buyer_area" property="buyerArea" jdbcType="VARCHAR" />
    <result column="buyer_email" property="buyerEmail" jdbcType="VARCHAR" />
    <result column="has_yfx" property="hasYfx" jdbcType="BIT" />
    <result column="yfx_fee" property="yfxFee" jdbcType="VARCHAR" />
    <result column="yfx_id" property="yfxId" jdbcType="VARCHAR" />
    <result column="shipping_type" property="shippingType" jdbcType="VARCHAR" />
    <result column="buyer_cod_fee" property="buyerCodFee" jdbcType="VARCHAR" />
    <result column="express_agency_fee" property="expressAgencyFee" jdbcType="VARCHAR" />
    <result column="adjust_fee" property="adjustFee" jdbcType="VARCHAR" />
    <result column="buyer_obtain_point_fee" property="buyerObtainPointFee" jdbcType="BIGINT" />
    <result column="cod_fee" property="codFee" jdbcType="VARCHAR" />
    <result column="trade_from" property="tradeFrom" jdbcType="VARCHAR" />
    <result column="cod_status" property="codStatus" jdbcType="VARCHAR" />
    <result column="can_rate" property="canRate" jdbcType="BIT" />
    <result column="commission_fee" property="commissionFee" jdbcType="VARCHAR" />
    <result column="trade_memo" property="tradeMemo" jdbcType="VARCHAR" />
    <result column="seller_nick" property="sellerNick" jdbcType="VARCHAR" />
    <result column="payment" property="payment" jdbcType="VARCHAR" />
    <result column="seller_rate" property="sellerRate" jdbcType="BIT" />
    <result column="buyer_rate" property="buyerRate" jdbcType="BIT" />
    <result column="real_point_fee" property="realPointFee" jdbcType="BIGINT" />
    <result column="post_fee" property="postFee" jdbcType="VARCHAR" />
    <result column="buyer_alipay_no" property="buyerAlipayNo" jdbcType="VARCHAR" />
    <result column="seller_memo" property="sellerMemo" jdbcType="VARCHAR" />
    <result column="seller_flag" property="sellerFlag" jdbcType="TINYINT" />
    <result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
    <result column="receiver_state" property="receiverState" jdbcType="VARCHAR" />
    <result column="receiver_city" property="receiverCity" jdbcType="VARCHAR" />
    <result column="receiver_district" property="receiverDistrict" jdbcType="VARCHAR" />
    <result column="receiver_address" property="receiverAddress" jdbcType="VARCHAR" />
    <result column="receiver_zip" property="receiverZip" jdbcType="VARCHAR" />
    <result column="receiver_mobile" property="receiverMobile" jdbcType="VARCHAR" />
    <result column="receiver_phone" property="receiverPhone" jdbcType="VARCHAR" />
    <result column="consign_time" property="consignTime" jdbcType="TIMESTAMP" />
    <result column="seller_alipay_no" property="sellerAlipayNo" jdbcType="VARCHAR" />
    <result column="seller_mobile" property="sellerMobile" jdbcType="VARCHAR" />
    <result column="seller_phone" property="sellerPhone" jdbcType="VARCHAR" />
    <result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
    <result column="seller_email" property="sellerEmail" jdbcType="VARCHAR" />
    <result column="available_confirm_fee" property="availableConfirmFee" jdbcType="VARCHAR" />
    <result column="received_payment" property="receivedPayment" jdbcType="VARCHAR" />
    <result column="out_sid" property="outSid" jdbcType="VARCHAR" />
    <result column="timeout_action_time" property="timeoutActionTime" jdbcType="TIMESTAMP" />
    <result column="promotion" property="promotion" jdbcType="VARCHAR" />
    <result column="step_trade_status" property="stepTradeStatus" jdbcType="VARCHAR" />
    <result column="step_paid_fee" property="stepPaidFee" jdbcType="DECIMAL" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
    <result column="merge_split_type" property="mergeSplitType" jdbcType="INTEGER" />
    <result column="sys_tid" property="sysTid" jdbcType="BIGINT" />
    <result column="yd_id" property="ydId" jdbcType="VARCHAR" />
    <result column="enable_status" property="enableStatus" jdbcType="BIT" />
    <result column="can_confirm_send" property="canConfirmSend" jdbcType="BIT" />
    <result column="express_print_time" property="expressPrintTime" jdbcType="TIMESTAMP" />
    <result column="deliver_print_time" property="deliverPrintTime" jdbcType="TIMESTAMP" />
    <result column="assembly_print_time" property="assemblyPrintTime" jdbcType="TIMESTAMP" />
    <result column="check_manual_merge_count" property="checkManualMergeCount" jdbcType="INTEGER" />
    <result column="template_id" property="templateId" jdbcType="BIGINT" />
    <result column="template_type" property="templateType" jdbcType="BIT" />
    <result column="is_stockout" property="isStockout" jdbcType="BIT" />
    <result column="is_excep" property="isExcep" jdbcType="BIT" />
    <result column="is_halt" property="isHalt" jdbcType="BIT" />
    <result column="is_verify" property="isVerify" jdbcType="BIT" />
    <result column="is_refund" property="isRefund" jdbcType="BIT" />
    <result column="can_delivered" property="canDelivered" jdbcType="BIT" />
    <result column="invoice_name" property="invoiceName" jdbcType="VARCHAR" />
    <result column="invoice_type" property="invoiceType" jdbcType="VARCHAR" />
    <result column="invoice_kind" property="invoiceKind" jdbcType="VARCHAR" />
    <result column="gift_item_name" property="giftItemName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sid, taobao_id, tid, num, num_iid, `status`, `type`, title, price, seller_cod_fee,
    discount_fee, point_fee, has_post_fee, total_fee, is_lgtype, is_brand_sale, is_force_wlb,
    created, pay_time, modified, end_time, buyer_message, alipay_id, alipay_no, buyer_nick,
    buyer_area, buyer_email, has_yfx, yfx_fee, yfx_id, shipping_type, buyer_cod_fee,
    express_agency_fee, adjust_fee, buyer_obtain_point_fee, cod_fee, trade_from, cod_status,
    can_rate, commission_fee, trade_memo, seller_nick, payment, seller_rate, buyer_rate,
    real_point_fee, post_fee, buyer_alipay_no, seller_memo, seller_flag, receiver_name,
    receiver_state, receiver_city, receiver_district, receiver_address, receiver_zip,
    receiver_mobile, receiver_phone, consign_time, seller_alipay_no, seller_mobile, seller_phone,
    seller_name, seller_email, available_confirm_fee, received_payment, out_sid, timeout_action_time,
    promotion, step_trade_status, step_paid_fee, upd_time, merge_split_type, sys_tid,
    yd_id, enable_status, can_confirm_send, express_print_time, deliver_print_time, assembly_print_time,
    check_manual_merge_count, template_id, template_type, is_stockout, is_excep, is_halt,
    is_verify, is_refund, can_delivered, invoice_name, invoice_type, invoice_kind, gift_item_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from tb_trade
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_trade
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gcloud.goods.domain.Trade" >
    insert into tb_trade (id, sid, taobao_id,
      tid, num, num_iid, `status`,
      `type`, title, price,
      seller_cod_fee, discount_fee, point_fee,
      has_post_fee, total_fee, is_lgtype,
      is_brand_sale, is_force_wlb, created,
      pay_time, modified, end_time,
      buyer_message, alipay_id, alipay_no,
      buyer_nick, buyer_area, buyer_email,
      has_yfx, yfx_fee, yfx_id,
      shipping_type, buyer_cod_fee, express_agency_fee,
      adjust_fee, buyer_obtain_point_fee, cod_fee,
      trade_from, cod_status, can_rate,
      commission_fee, trade_memo, seller_nick,
      payment, seller_rate, buyer_rate,
      real_point_fee, post_fee, buyer_alipay_no,
      seller_memo, seller_flag, receiver_name,
      receiver_state, receiver_city, receiver_district,
      receiver_address, receiver_zip, receiver_mobile,
      receiver_phone, consign_time, seller_alipay_no,
      seller_mobile, seller_phone, seller_name,
      seller_email, available_confirm_fee, received_payment,
      out_sid, timeout_action_time, promotion,
      step_trade_status, step_paid_fee, upd_time,
      merge_split_type, sys_tid, yd_id,
      enable_status, can_confirm_send, express_print_time,
      deliver_print_time, assembly_print_time,
      check_manual_merge_count, template_id, template_type,
      is_stockout, is_excep, is_halt, is_verify,
      is_refund, can_delivered, invoice_name,
      invoice_type, invoice_kind, gift_item_name
      )
    values (#{id,jdbcType=BIGINT}, #{sid,jdbcType=BIGINT}, #{taobaoId,jdbcType=BIGINT},
      #{tid,jdbcType=BIGINT}, #{num,jdbcType=INTEGER}, #{numIid,jdbcType=BIGINT}, #{status,jdbcType=VARCHAR},
      #{type,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR},
      #{sellerCodFee,jdbcType=VARCHAR}, #{discountFee,jdbcType=VARCHAR}, #{pointFee,jdbcType=INTEGER},
      #{hasPostFee,jdbcType=BIT}, #{totalFee,jdbcType=VARCHAR}, #{isLgtype,jdbcType=BIT},
      #{isBrandSale,jdbcType=BIT}, #{isForceWlb,jdbcType=BIT}, #{created,jdbcType=TIMESTAMP},
      #{payTime,jdbcType=TIMESTAMP}, #{modified,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP},
      #{buyerMessage,jdbcType=VARCHAR}, #{alipayId,jdbcType=BIGINT}, #{alipayNo,jdbcType=VARCHAR},
      #{buyerNick,jdbcType=VARCHAR}, #{buyerArea,jdbcType=VARCHAR}, #{buyerEmail,jdbcType=VARCHAR},
      #{hasYfx,jdbcType=BIT}, #{yfxFee,jdbcType=VARCHAR}, #{yfxId,jdbcType=VARCHAR},
      #{shippingType,jdbcType=VARCHAR}, #{buyerCodFee,jdbcType=VARCHAR}, #{expressAgencyFee,jdbcType=VARCHAR},
      #{adjustFee,jdbcType=VARCHAR}, #{buyerObtainPointFee,jdbcType=BIGINT}, #{codFee,jdbcType=VARCHAR},
      #{tradeFrom,jdbcType=VARCHAR}, #{codStatus,jdbcType=VARCHAR}, #{canRate,jdbcType=BIT},
      #{commissionFee,jdbcType=VARCHAR}, #{tradeMemo,jdbcType=VARCHAR}, #{sellerNick,jdbcType=VARCHAR},
      #{payment,jdbcType=VARCHAR}, #{sellerRate,jdbcType=BIT}, #{buyerRate,jdbcType=BIT},
      #{realPointFee,jdbcType=BIGINT}, #{postFee,jdbcType=VARCHAR}, #{buyerAlipayNo,jdbcType=VARCHAR},
      #{sellerMemo,jdbcType=VARCHAR}, #{sellerFlag,jdbcType=TINYINT}, #{receiverName,jdbcType=VARCHAR},
      #{receiverState,jdbcType=VARCHAR}, #{receiverCity,jdbcType=VARCHAR}, #{receiverDistrict,jdbcType=VARCHAR},
      #{receiverAddress,jdbcType=VARCHAR}, #{receiverZip,jdbcType=VARCHAR}, #{receiverMobile,jdbcType=VARCHAR},
      #{receiverPhone,jdbcType=VARCHAR}, #{consignTime,jdbcType=TIMESTAMP}, #{sellerAlipayNo,jdbcType=VARCHAR},
      #{sellerMobile,jdbcType=VARCHAR}, #{sellerPhone,jdbcType=VARCHAR}, #{sellerName,jdbcType=VARCHAR},
      #{sellerEmail,jdbcType=VARCHAR}, #{availableConfirmFee,jdbcType=VARCHAR}, #{receivedPayment,jdbcType=VARCHAR},
      #{outSid,jdbcType=VARCHAR}, #{timeoutActionTime,jdbcType=TIMESTAMP}, #{promotion,jdbcType=VARCHAR},
      #{stepTradeStatus,jdbcType=VARCHAR}, #{stepPaidFee,jdbcType=DECIMAL}, #{updTime,jdbcType=TIMESTAMP},
      #{mergeSplitType,jdbcType=INTEGER}, #{sysTid,jdbcType=BIGINT}, #{ydId,jdbcType=VARCHAR},
      #{enableStatus,jdbcType=BIT}, #{canConfirmSend,jdbcType=BIT}, #{expressPrintTime,jdbcType=TIMESTAMP},
      #{deliverPrintTime,jdbcType=TIMESTAMP}, #{assemblyPrintTime,jdbcType=TIMESTAMP},
      #{checkManualMergeCount,jdbcType=INTEGER}, #{templateId,jdbcType=BIGINT}, #{templateType,jdbcType=BIT},
      #{isStockout,jdbcType=BIT}, #{isExcep,jdbcType=BIT}, #{isHalt,jdbcType=BIT}, #{isVerify,jdbcType=BIT},
      #{isRefund,jdbcType=BIT}, #{canDelivered,jdbcType=BIT}, #{invoiceName,jdbcType=VARCHAR},
      #{invoiceType,jdbcType=VARCHAR}, #{invoiceKind,jdbcType=VARCHAR}, #{giftItemName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gcloud.goods.domain.Trade" >
    insert into tb_trade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="taobaoId != null" >
        taobao_id,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="numIid != null" >
        num_iid,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="sellerCodFee != null" >
        seller_cod_fee,
      </if>
      <if test="discountFee != null" >
        discount_fee,
      </if>
      <if test="pointFee != null" >
        point_fee,
      </if>
      <if test="hasPostFee != null" >
        has_post_fee,
      </if>
      <if test="totalFee != null" >
        total_fee,
      </if>
      <if test="isLgtype != null" >
        is_lgtype,
      </if>
      <if test="isBrandSale != null" >
        is_brand_sale,
      </if>
      <if test="isForceWlb != null" >
        is_force_wlb,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="modified != null" >
        modified,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="buyerMessage != null" >
        buyer_message,
      </if>
      <if test="alipayId != null" >
        alipay_id,
      </if>
      <if test="alipayNo != null" >
        alipay_no,
      </if>
      <if test="buyerNick != null" >
        buyer_nick,
      </if>
      <if test="buyerArea != null" >
        buyer_area,
      </if>
      <if test="buyerEmail != null" >
        buyer_email,
      </if>
      <if test="hasYfx != null" >
        has_yfx,
      </if>
      <if test="yfxFee != null" >
        yfx_fee,
      </if>
      <if test="yfxId != null" >
        yfx_id,
      </if>
      <if test="shippingType != null" >
        shipping_type,
      </if>
      <if test="buyerCodFee != null" >
        buyer_cod_fee,
      </if>
      <if test="expressAgencyFee != null" >
        express_agency_fee,
      </if>
      <if test="adjustFee != null" >
        adjust_fee,
      </if>
      <if test="buyerObtainPointFee != null" >
        buyer_obtain_point_fee,
      </if>
      <if test="codFee != null" >
        cod_fee,
      </if>
      <if test="tradeFrom != null" >
        trade_from,
      </if>
      <if test="codStatus != null" >
        cod_status,
      </if>
      <if test="canRate != null" >
        can_rate,
      </if>
      <if test="commissionFee != null" >
        commission_fee,
      </if>
      <if test="tradeMemo != null" >
        trade_memo,
      </if>
      <if test="sellerNick != null" >
        seller_nick,
      </if>
      <if test="payment != null" >
        payment,
      </if>
      <if test="sellerRate != null" >
        seller_rate,
      </if>
      <if test="buyerRate != null" >
        buyer_rate,
      </if>
      <if test="realPointFee != null" >
        real_point_fee,
      </if>
      <if test="postFee != null" >
        post_fee,
      </if>
      <if test="buyerAlipayNo != null" >
        buyer_alipay_no,
      </if>
      <if test="sellerMemo != null" >
        seller_memo,
      </if>
      <if test="sellerFlag != null" >
        seller_flag,
      </if>
      <if test="receiverName != null" >
        receiver_name,
      </if>
      <if test="receiverState != null" >
        receiver_state,
      </if>
      <if test="receiverCity != null" >
        receiver_city,
      </if>
      <if test="receiverDistrict != null" >
        receiver_district,
      </if>
      <if test="receiverAddress != null" >
        receiver_address,
      </if>
      <if test="receiverZip != null" >
        receiver_zip,
      </if>
      <if test="receiverMobile != null" >
        receiver_mobile,
      </if>
      <if test="receiverPhone != null" >
        receiver_phone,
      </if>
      <if test="consignTime != null" >
        consign_time,
      </if>
      <if test="sellerAlipayNo != null" >
        seller_alipay_no,
      </if>
      <if test="sellerMobile != null" >
        seller_mobile,
      </if>
      <if test="sellerPhone != null" >
        seller_phone,
      </if>
      <if test="sellerName != null" >
        seller_name,
      </if>
      <if test="sellerEmail != null" >
        seller_email,
      </if>
      <if test="availableConfirmFee != null" >
        available_confirm_fee,
      </if>
      <if test="receivedPayment != null" >
        received_payment,
      </if>
      <if test="outSid != null" >
        out_sid,
      </if>
      <if test="timeoutActionTime != null" >
        timeout_action_time,
      </if>
      <if test="promotion != null" >
        promotion,
      </if>
      <if test="stepTradeStatus != null" >
        step_trade_status,
      </if>
      <if test="stepPaidFee != null" >
        step_paid_fee,
      </if>
      <if test="updTime != null" >
        upd_time,
      </if>
      <if test="mergeSplitType != null" >
        merge_split_type,
      </if>
      <if test="sysTid != null" >
        sys_tid,
      </if>
      <if test="ydId != null" >
        yd_id,
      </if>
      <if test="enableStatus != null" >
        enable_status,
      </if>
      <if test="canConfirmSend != null" >
        can_confirm_send,
      </if>
      <if test="expressPrintTime != null" >
        express_print_time,
      </if>
      <if test="deliverPrintTime != null" >
        deliver_print_time,
      </if>
      <if test="assemblyPrintTime != null" >
        assembly_print_time,
      </if>
      <if test="checkManualMergeCount != null" >
        check_manual_merge_count,
      </if>
      <if test="templateId != null" >
        template_id,
      </if>
      <if test="templateType != null" >
        template_type,
      </if>
      <if test="isStockout != null" >
        is_stockout,
      </if>
      <if test="isExcep != null" >
        is_excep,
      </if>
      <if test="isHalt != null" >
        is_halt,
      </if>
      <if test="isVerify != null" >
        is_verify,
      </if>
      <if test="isRefund != null" >
        is_refund,
      </if>
      <if test="canDelivered != null" >
        can_delivered,
      </if>
      <if test="invoiceName != null" >
        invoice_name,
      </if>
      <if test="invoiceType != null" >
        invoice_type,
      </if>
      <if test="invoiceKind != null" >
        invoice_kind,
      </if>
      <if test="giftItemName != null" >
        gift_item_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=BIGINT},
      </if>
      <if test="taobaoId != null" >
        #{taobaoId,jdbcType=BIGINT},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=BIGINT},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="numIid != null" >
        #{numIid,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="sellerCodFee != null" >
        #{sellerCodFee,jdbcType=VARCHAR},
      </if>
      <if test="discountFee != null" >
        #{discountFee,jdbcType=VARCHAR},
      </if>
      <if test="pointFee != null" >
        #{pointFee,jdbcType=INTEGER},
      </if>
      <if test="hasPostFee != null" >
        #{hasPostFee,jdbcType=BIT},
      </if>
      <if test="totalFee != null" >
        #{totalFee,jdbcType=VARCHAR},
      </if>
      <if test="isLgtype != null" >
        #{isLgtype,jdbcType=BIT},
      </if>
      <if test="isBrandSale != null" >
        #{isBrandSale,jdbcType=BIT},
      </if>
      <if test="isForceWlb != null" >
        #{isForceWlb,jdbcType=BIT},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buyerMessage != null" >
        #{buyerMessage,jdbcType=VARCHAR},
      </if>
      <if test="alipayId != null" >
        #{alipayId,jdbcType=BIGINT},
      </if>
      <if test="alipayNo != null" >
        #{alipayNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerNick != null" >
        #{buyerNick,jdbcType=VARCHAR},
      </if>
      <if test="buyerArea != null" >
        #{buyerArea,jdbcType=VARCHAR},
      </if>
      <if test="buyerEmail != null" >
        #{buyerEmail,jdbcType=VARCHAR},
      </if>
      <if test="hasYfx != null" >
        #{hasYfx,jdbcType=BIT},
      </if>
      <if test="yfxFee != null" >
        #{yfxFee,jdbcType=VARCHAR},
      </if>
      <if test="yfxId != null" >
        #{yfxId,jdbcType=VARCHAR},
      </if>
      <if test="shippingType != null" >
        #{shippingType,jdbcType=VARCHAR},
      </if>
      <if test="buyerCodFee != null" >
        #{buyerCodFee,jdbcType=VARCHAR},
      </if>
      <if test="expressAgencyFee != null" >
        #{expressAgencyFee,jdbcType=VARCHAR},
      </if>
      <if test="adjustFee != null" >
        #{adjustFee,jdbcType=VARCHAR},
      </if>
      <if test="buyerObtainPointFee != null" >
        #{buyerObtainPointFee,jdbcType=BIGINT},
      </if>
      <if test="codFee != null" >
        #{codFee,jdbcType=VARCHAR},
      </if>
      <if test="tradeFrom != null" >
        #{tradeFrom,jdbcType=VARCHAR},
      </if>
      <if test="codStatus != null" >
        #{codStatus,jdbcType=VARCHAR},
      </if>
      <if test="canRate != null" >
        #{canRate,jdbcType=BIT},
      </if>
      <if test="commissionFee != null" >
        #{commissionFee,jdbcType=VARCHAR},
      </if>
      <if test="tradeMemo != null" >
        #{tradeMemo,jdbcType=VARCHAR},
      </if>
      <if test="sellerNick != null" >
        #{sellerNick,jdbcType=VARCHAR},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=VARCHAR},
      </if>
      <if test="sellerRate != null" >
        #{sellerRate,jdbcType=BIT},
      </if>
      <if test="buyerRate != null" >
        #{buyerRate,jdbcType=BIT},
      </if>
      <if test="realPointFee != null" >
        #{realPointFee,jdbcType=BIGINT},
      </if>
      <if test="postFee != null" >
        #{postFee,jdbcType=VARCHAR},
      </if>
      <if test="buyerAlipayNo != null" >
        #{buyerAlipayNo,jdbcType=VARCHAR},
      </if>
      <if test="sellerMemo != null" >
        #{sellerMemo,jdbcType=VARCHAR},
      </if>
      <if test="sellerFlag != null" >
        #{sellerFlag,jdbcType=TINYINT},
      </if>
      <if test="receiverName != null" >
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverState != null" >
        #{receiverState,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null" >
        #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null" >
        #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null" >
        #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverZip != null" >
        #{receiverZip,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null" >
        #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null" >
        #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="consignTime != null" >
        #{consignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellerAlipayNo != null" >
        #{sellerAlipayNo,jdbcType=VARCHAR},
      </if>
      <if test="sellerMobile != null" >
        #{sellerMobile,jdbcType=VARCHAR},
      </if>
      <if test="sellerPhone != null" >
        #{sellerPhone,jdbcType=VARCHAR},
      </if>
      <if test="sellerName != null" >
        #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="sellerEmail != null" >
        #{sellerEmail,jdbcType=VARCHAR},
      </if>
      <if test="availableConfirmFee != null" >
        #{availableConfirmFee,jdbcType=VARCHAR},
      </if>
      <if test="receivedPayment != null" >
        #{receivedPayment,jdbcType=VARCHAR},
      </if>
      <if test="outSid != null" >
        #{outSid,jdbcType=VARCHAR},
      </if>
      <if test="timeoutActionTime != null" >
        #{timeoutActionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="promotion != null" >
        #{promotion,jdbcType=VARCHAR},
      </if>
      <if test="stepTradeStatus != null" >
        #{stepTradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="stepPaidFee != null" >
        #{stepPaidFee,jdbcType=DECIMAL},
      </if>
      <if test="updTime != null" >
        #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mergeSplitType != null" >
        #{mergeSplitType,jdbcType=INTEGER},
      </if>
      <if test="sysTid != null" >
        #{sysTid,jdbcType=BIGINT},
      </if>
      <if test="ydId != null" >
        #{ydId,jdbcType=VARCHAR},
      </if>
      <if test="enableStatus != null" >
        #{enableStatus,jdbcType=BIT},
      </if>
      <if test="canConfirmSend != null" >
        #{canConfirmSend,jdbcType=BIT},
      </if>
      <if test="expressPrintTime != null" >
        #{expressPrintTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverPrintTime != null" >
        #{deliverPrintTime,jdbcType=TIMESTAMP},
      </if>
      <if test="assemblyPrintTime != null" >
        #{assemblyPrintTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkManualMergeCount != null" >
        #{checkManualMergeCount,jdbcType=INTEGER},
      </if>
      <if test="templateId != null" >
        #{templateId,jdbcType=BIGINT},
      </if>
      <if test="templateType != null" >
        #{templateType,jdbcType=BIT},
      </if>
      <if test="isStockout != null" >
        #{isStockout,jdbcType=BIT},
      </if>
      <if test="isExcep != null" >
        #{isExcep,jdbcType=BIT},
      </if>
      <if test="isHalt != null" >
        #{isHalt,jdbcType=BIT},
      </if>
      <if test="isVerify != null" >
        #{isVerify,jdbcType=BIT},
      </if>
      <if test="isRefund != null" >
        #{isRefund,jdbcType=BIT},
      </if>
      <if test="canDelivered != null" >
        #{canDelivered,jdbcType=BIT},
      </if>
      <if test="invoiceName != null" >
        #{invoiceName,jdbcType=VARCHAR},
      </if>
      <if test="invoiceType != null" >
        #{invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="invoiceKind != null" >
        #{invoiceKind,jdbcType=VARCHAR},
      </if>
      <if test="giftItemName != null" >
        #{giftItemName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gcloud.goods.domain.Trade" >
    update tb_trade
    <set >
      <if test="sid != null" >
        sid = #{sid,jdbcType=BIGINT},
      </if>
      <if test="taobaoId != null" >
        taobao_id = #{taobaoId,jdbcType=BIGINT},
      </if>
      <if test="tid != null" >
        tid = #{tid,jdbcType=BIGINT},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="numIid != null" >
        num_iid = #{numIid,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="sellerCodFee != null" >
        seller_cod_fee = #{sellerCodFee,jdbcType=VARCHAR},
      </if>
      <if test="discountFee != null" >
        discount_fee = #{discountFee,jdbcType=VARCHAR},
      </if>
      <if test="pointFee != null" >
        point_fee = #{pointFee,jdbcType=INTEGER},
      </if>
      <if test="hasPostFee != null" >
        has_post_fee = #{hasPostFee,jdbcType=BIT},
      </if>
      <if test="totalFee != null" >
        total_fee = #{totalFee,jdbcType=VARCHAR},
      </if>
      <if test="isLgtype != null" >
        is_lgtype = #{isLgtype,jdbcType=BIT},
      </if>
      <if test="isBrandSale != null" >
        is_brand_sale = #{isBrandSale,jdbcType=BIT},
      </if>
      <if test="isForceWlb != null" >
        is_force_wlb = #{isForceWlb,jdbcType=BIT},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buyerMessage != null" >
        buyer_message = #{buyerMessage,jdbcType=VARCHAR},
      </if>
      <if test="alipayId != null" >
        alipay_id = #{alipayId,jdbcType=BIGINT},
      </if>
      <if test="alipayNo != null" >
        alipay_no = #{alipayNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerNick != null" >
        buyer_nick = #{buyerNick,jdbcType=VARCHAR},
      </if>
      <if test="buyerArea != null" >
        buyer_area = #{buyerArea,jdbcType=VARCHAR},
      </if>
      <if test="buyerEmail != null" >
        buyer_email = #{buyerEmail,jdbcType=VARCHAR},
      </if>
      <if test="hasYfx != null" >
        has_yfx = #{hasYfx,jdbcType=BIT},
      </if>
      <if test="yfxFee != null" >
        yfx_fee = #{yfxFee,jdbcType=VARCHAR},
      </if>
      <if test="yfxId != null" >
        yfx_id = #{yfxId,jdbcType=VARCHAR},
      </if>
      <if test="shippingType != null" >
        shipping_type = #{shippingType,jdbcType=VARCHAR},
      </if>
      <if test="buyerCodFee != null" >
        buyer_cod_fee = #{buyerCodFee,jdbcType=VARCHAR},
      </if>
      <if test="expressAgencyFee != null" >
        express_agency_fee = #{expressAgencyFee,jdbcType=VARCHAR},
      </if>
      <if test="adjustFee != null" >
        adjust_fee = #{adjustFee,jdbcType=VARCHAR},
      </if>
      <if test="buyerObtainPointFee != null" >
        buyer_obtain_point_fee = #{buyerObtainPointFee,jdbcType=BIGINT},
      </if>
      <if test="codFee != null" >
        cod_fee = #{codFee,jdbcType=VARCHAR},
      </if>
      <if test="tradeFrom != null" >
        trade_from = #{tradeFrom,jdbcType=VARCHAR},
      </if>
      <if test="codStatus != null" >
        cod_status = #{codStatus,jdbcType=VARCHAR},
      </if>
      <if test="canRate != null" >
        can_rate = #{canRate,jdbcType=BIT},
      </if>
      <if test="commissionFee != null" >
        commission_fee = #{commissionFee,jdbcType=VARCHAR},
      </if>
      <if test="tradeMemo != null" >
        trade_memo = #{tradeMemo,jdbcType=VARCHAR},
      </if>
      <if test="sellerNick != null" >
        seller_nick = #{sellerNick,jdbcType=VARCHAR},
      </if>
      <if test="payment != null" >
        payment = #{payment,jdbcType=VARCHAR},
      </if>
      <if test="sellerRate != null" >
        seller_rate = #{sellerRate,jdbcType=BIT},
      </if>
      <if test="buyerRate != null" >
        buyer_rate = #{buyerRate,jdbcType=BIT},
      </if>
      <if test="realPointFee != null" >
        real_point_fee = #{realPointFee,jdbcType=BIGINT},
      </if>
      <if test="postFee != null" >
        post_fee = #{postFee,jdbcType=VARCHAR},
      </if>
      <if test="buyerAlipayNo != null" >
        buyer_alipay_no = #{buyerAlipayNo,jdbcType=VARCHAR},
      </if>
      <if test="sellerMemo != null" >
        seller_memo = #{sellerMemo,jdbcType=VARCHAR},
      </if>
      <if test="sellerFlag != null" >
        seller_flag = #{sellerFlag,jdbcType=TINYINT},
      </if>
      <if test="receiverName != null" >
        receiver_name = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverState != null" >
        receiver_state = #{receiverState,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null" >
        receiver_city = #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null" >
        receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null" >
        receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverZip != null" >
        receiver_zip = #{receiverZip,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null" >
        receiver_mobile = #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null" >
        receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="consignTime != null" >
        consign_time = #{consignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellerAlipayNo != null" >
        seller_alipay_no = #{sellerAlipayNo,jdbcType=VARCHAR},
      </if>
      <if test="sellerMobile != null" >
        seller_mobile = #{sellerMobile,jdbcType=VARCHAR},
      </if>
      <if test="sellerPhone != null" >
        seller_phone = #{sellerPhone,jdbcType=VARCHAR},
      </if>
      <if test="sellerName != null" >
        seller_name = #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="sellerEmail != null" >
        seller_email = #{sellerEmail,jdbcType=VARCHAR},
      </if>
      <if test="availableConfirmFee != null" >
        available_confirm_fee = #{availableConfirmFee,jdbcType=VARCHAR},
      </if>
      <if test="receivedPayment != null" >
        received_payment = #{receivedPayment,jdbcType=VARCHAR},
      </if>
      <if test="outSid != null" >
        out_sid = #{outSid,jdbcType=VARCHAR},
      </if>
      <if test="timeoutActionTime != null" >
        timeout_action_time = #{timeoutActionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="promotion != null" >
        promotion = #{promotion,jdbcType=VARCHAR},
      </if>
      <if test="stepTradeStatus != null" >
        step_trade_status = #{stepTradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="stepPaidFee != null" >
        step_paid_fee = #{stepPaidFee,jdbcType=DECIMAL},
      </if>
      <if test="updTime != null" >
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mergeSplitType != null" >
        merge_split_type = #{mergeSplitType,jdbcType=INTEGER},
      </if>
      <if test="sysTid != null" >
        sys_tid = #{sysTid,jdbcType=BIGINT},
      </if>
      <if test="ydId != null" >
        yd_id = #{ydId,jdbcType=VARCHAR},
      </if>
      <if test="enableStatus != null" >
        enable_status = #{enableStatus,jdbcType=BIT},
      </if>
      <if test="canConfirmSend != null" >
        can_confirm_send = #{canConfirmSend,jdbcType=BIT},
      </if>
      <if test="expressPrintTime != null" >
        express_print_time = #{expressPrintTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverPrintTime != null" >
        deliver_print_time = #{deliverPrintTime,jdbcType=TIMESTAMP},
      </if>
      <if test="assemblyPrintTime != null" >
        assembly_print_time = #{assemblyPrintTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkManualMergeCount != null" >
        check_manual_merge_count = #{checkManualMergeCount,jdbcType=INTEGER},
      </if>
      <if test="templateId != null" >
        template_id = #{templateId,jdbcType=BIGINT},
      </if>
      <if test="templateType != null" >
        template_type = #{templateType,jdbcType=BIT},
      </if>
      <if test="isStockout != null" >
        is_stockout = #{isStockout,jdbcType=BIT},
      </if>
      <if test="isExcep != null" >
        is_excep = #{isExcep,jdbcType=BIT},
      </if>
      <if test="isHalt != null" >
        is_halt = #{isHalt,jdbcType=BIT},
      </if>
      <if test="isVerify != null" >
        is_verify = #{isVerify,jdbcType=BIT},
      </if>
      <if test="isRefund != null" >
        is_refund = #{isRefund,jdbcType=BIT},
      </if>
      <if test="canDelivered != null" >
        can_delivered = #{canDelivered,jdbcType=BIT},
      </if>
      <if test="invoiceName != null" >
        invoice_name = #{invoiceName,jdbcType=VARCHAR},
      </if>
      <if test="invoiceType != null" >
        invoice_type = #{invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="invoiceKind != null" >
        invoice_kind = #{invoiceKind,jdbcType=VARCHAR},
      </if>
      <if test="giftItemName != null" >
        gift_item_name = #{giftItemName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gcloud.goods.domain.Trade" >
    update tb_trade
    set sid = #{sid,jdbcType=BIGINT},
      taobao_id = #{taobaoId,jdbcType=BIGINT},
      tid = #{tid,jdbcType=BIGINT},
      num = #{num,jdbcType=INTEGER},
      num_iid = #{numIid,jdbcType=BIGINT},
      `status` = #{status,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      seller_cod_fee = #{sellerCodFee,jdbcType=VARCHAR},
      discount_fee = #{discountFee,jdbcType=VARCHAR},
      point_fee = #{pointFee,jdbcType=INTEGER},
      has_post_fee = #{hasPostFee,jdbcType=BIT},
      total_fee = #{totalFee,jdbcType=VARCHAR},
      is_lgtype = #{isLgtype,jdbcType=BIT},
      is_brand_sale = #{isBrandSale,jdbcType=BIT},
      is_force_wlb = #{isForceWlb,jdbcType=BIT},
      created = #{created,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      modified = #{modified,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      buyer_message = #{buyerMessage,jdbcType=VARCHAR},
      alipay_id = #{alipayId,jdbcType=BIGINT},
      alipay_no = #{alipayNo,jdbcType=VARCHAR},
      buyer_nick = #{buyerNick,jdbcType=VARCHAR},
      buyer_area = #{buyerArea,jdbcType=VARCHAR},
      buyer_email = #{buyerEmail,jdbcType=VARCHAR},
      has_yfx = #{hasYfx,jdbcType=BIT},
      yfx_fee = #{yfxFee,jdbcType=VARCHAR},
      yfx_id = #{yfxId,jdbcType=VARCHAR},
      shipping_type = #{shippingType,jdbcType=VARCHAR},
      buyer_cod_fee = #{buyerCodFee,jdbcType=VARCHAR},
      express_agency_fee = #{expressAgencyFee,jdbcType=VARCHAR},
      adjust_fee = #{adjustFee,jdbcType=VARCHAR},
      buyer_obtain_point_fee = #{buyerObtainPointFee,jdbcType=BIGINT},
      cod_fee = #{codFee,jdbcType=VARCHAR},
      trade_from = #{tradeFrom,jdbcType=VARCHAR},
      cod_status = #{codStatus,jdbcType=VARCHAR},
      can_rate = #{canRate,jdbcType=BIT},
      commission_fee = #{commissionFee,jdbcType=VARCHAR},
      trade_memo = #{tradeMemo,jdbcType=VARCHAR},
      seller_nick = #{sellerNick,jdbcType=VARCHAR},
      payment = #{payment,jdbcType=VARCHAR},
      seller_rate = #{sellerRate,jdbcType=BIT},
      buyer_rate = #{buyerRate,jdbcType=BIT},
      real_point_fee = #{realPointFee,jdbcType=BIGINT},
      post_fee = #{postFee,jdbcType=VARCHAR},
      buyer_alipay_no = #{buyerAlipayNo,jdbcType=VARCHAR},
      seller_memo = #{sellerMemo,jdbcType=VARCHAR},
      seller_flag = #{sellerFlag,jdbcType=TINYINT},
      receiver_name = #{receiverName,jdbcType=VARCHAR},
      receiver_state = #{receiverState,jdbcType=VARCHAR},
      receiver_city = #{receiverCity,jdbcType=VARCHAR},
      receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      receiver_zip = #{receiverZip,jdbcType=VARCHAR},
      receiver_mobile = #{receiverMobile,jdbcType=VARCHAR},
      receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
      consign_time = #{consignTime,jdbcType=TIMESTAMP},
      seller_alipay_no = #{sellerAlipayNo,jdbcType=VARCHAR},
      seller_mobile = #{sellerMobile,jdbcType=VARCHAR},
      seller_phone = #{sellerPhone,jdbcType=VARCHAR},
      seller_name = #{sellerName,jdbcType=VARCHAR},
      seller_email = #{sellerEmail,jdbcType=VARCHAR},
      available_confirm_fee = #{availableConfirmFee,jdbcType=VARCHAR},
      received_payment = #{receivedPayment,jdbcType=VARCHAR},
      out_sid = #{outSid,jdbcType=VARCHAR},
      timeout_action_time = #{timeoutActionTime,jdbcType=TIMESTAMP},
      promotion = #{promotion,jdbcType=VARCHAR},
      step_trade_status = #{stepTradeStatus,jdbcType=VARCHAR},
      step_paid_fee = #{stepPaidFee,jdbcType=DECIMAL},
      upd_time = #{updTime,jdbcType=TIMESTAMP},
      merge_split_type = #{mergeSplitType,jdbcType=INTEGER},
      sys_tid = #{sysTid,jdbcType=BIGINT},
      yd_id = #{ydId,jdbcType=VARCHAR},
      enable_status = #{enableStatus,jdbcType=BIT},
      can_confirm_send = #{canConfirmSend,jdbcType=BIT},
      express_print_time = #{expressPrintTime,jdbcType=TIMESTAMP},
      deliver_print_time = #{deliverPrintTime,jdbcType=TIMESTAMP},
      assembly_print_time = #{assemblyPrintTime,jdbcType=TIMESTAMP},
      check_manual_merge_count = #{checkManualMergeCount,jdbcType=INTEGER},
      template_id = #{templateId,jdbcType=BIGINT},
      template_type = #{templateType,jdbcType=BIT},
      is_stockout = #{isStockout,jdbcType=BIT},
      is_excep = #{isExcep,jdbcType=BIT},
      is_halt = #{isHalt,jdbcType=BIT},
      is_verify = #{isVerify,jdbcType=BIT},
      is_refund = #{isRefund,jdbcType=BIT},
      can_delivered = #{canDelivered,jdbcType=BIT},
      invoice_name = #{invoiceName,jdbcType=VARCHAR},
      invoice_type = #{invoiceType,jdbcType=VARCHAR},
      invoice_kind = #{invoiceKind,jdbcType=VARCHAR},
      gift_item_name = #{giftItemName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>